<!DOCTYPE html>
<html lang="jpn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1><%=user.username%>のToDoリスト</h1>
        <a href="/donelist">完了タスク</a>
        <form action="/logout" method="post">
            <input type="submit" value="ログアウト"/>
        </form>
    </header>
    <form action="/" method="post">
        <label>タスクの追加</label>
        <input required type="text" name="add" placeholder=""/>
        <input type="submit" value="登録"/>
    </form>
    <form action="/done" method="post">
        <% for(let i=0;i< datas.rowCount;i++){%>
            <li>
                <%let num = datas.rows[i].id%>
                <input type="hidden" name="id" value=<%=num%>>
                <input type="checkbox" name="datalist"value=<%=num%>>
                <%=datas.rows[i].data%>
            </li>
        <%}%>
        <input type="submit" value = "done"/>
    </form>
    
    <footer>

    </footer>
</body>
</html>