<!DOCTYPE html>
<html lang="jpn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1><%=user.username%>のToDoリスト</h1>
        <form action="/logout" method="post">
            <input type="submit" value="ログアウト"/>
        </form>
    </header>
    <form action="/" method="post">
        <label>タスクの追加</label>
        <input required type="text" name="add" placeholder=""/>
        <input type="submit" value="登録"/>
    </form>
        <% for(let i=0;i< datas.rowCount;i++){%>
        <li><%= datas.rows[i].data %></li>
        <%}%>
  
    
    <footer>

    </footer>
</body>
</html>