<!DOCTYPE html>
<html lang="jpn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>のToDoリスト</h1>
    </header>
    <form action="/" method="post">
        <label>タスクの追加</label>
        <input required type="text" name="add" placeholder=""/>
        <input type="submit" value="登録"/>
    </form>
    <p><%= visitCount %> 回訪れました</p>
    <footer>

    </footer>
</body>
</html>